/org.trombonanza.hedgehog/archive
/org.trombonanza.hedgehog/*.py
/org.trombonanza.hedgehog/*.html
/org.trombonanza.hedgehog/*.txt
/org.trombonanza.hedgehog/*.md
.DS_Store
local/contents/slim/archive/
*.pyc
*.ai
local/contents/slim/archieve.baseslim
local/contents/slim/archiveindex.baseslim
local/contents/slim/footer.baseslim
local/contents/slim/header.baseslim
local/contents/slim/menu.baseslim

